body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
nav {
  width: 100vw;
  background-color: rgb(71, 71, 195);
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  list-style-type: none;
}
li {
  margin: 20px;
}
a {
  color: yellow;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
